# EXTRACT

Convertir les montants en euros
Arrondir à 2 chiffres après la virgule

In [18]:
import bs4
import html5lib
import requests
import pandas as pd
import urllib
import os
from sqlalchemy import create_engine
import datetime
import gzip
import shutil
from pprint import pprint
import numpy as np
#sql alchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, Float, String
import pymysql.cursors
from datetime import datetime
from taux import convertisseur

<Response [200]>
           Rates
AED     3.730797
AFN    89.332069
ALL   118.242843
AMD   417.120579
ANG     1.829547
..           ...
YER   254.180895
ZAR    17.184396
ZMK  9142.591588
ZMW    16.572559
ZWL   327.057537

[168 rows x 1 columns]
raw_taux
taux_final
[{'Rates': 3.730797, 'Nom': 'AED'}, {'Rates': 89.332069, 'Nom': 'AFN'}, {'Rates': 118.242843, 'Nom': 'ALL'}, {'Rates': 417.120579, 'Nom': 'AMD'}, {'Rates': 1.829547, 'Nom': 'ANG'}, {'Rates': 436.263211, 'Nom': 'AOA'}, {'Rates': 128.489573, 'Nom': 'ARS'}, {'Rates': 1.486692, 'Nom': 'AUD'}, {'Rates': 1.823196, 'Nom': 'AWG'}, {'Rates': 1.729706, 'Nom': 'AZN'}, {'Rates': 1.958361, 'Nom': 'BAM'}, {'Rates': 2.049729, 'Nom': 'BBD'}, {'Rates': 94.851673, 'Nom': 'BDT'}, {'Rates': 1.95998, 'Nom': 'BGN'}, {'Rates': 0.382937, 'Nom': 'BHD'}, {'Rates': 2089.731226, 'Nom': 'BIF'}, {'Rates': 1.015708, 'Nom': 'BMD'}, {'Rates': 1.423245, 'Nom': 'BND'}, {'Rates': 6.979253, 'Nom': 'BOB'}, {'Rates': 5.435151, 'Nom': 'BRL'}, {'Rates': 1.015202, 'Nom': 'BSD'}, {'Rates': 4.7109713e-05, 'Nom': 'BTC'}, {'Rates': 80.446895, 'Nom': 'BTN'}, {'Rates': 12.866505, 'Nom': 'BWP'}, {'Rates': 2.609573, 'Nom': 'BYN'}, {'Rates': 19907.875291, 'Nom': 'BYR'}, {'Rates': 2.046225, 'Nom': 'BZD'}, {'Rates': 1.319613, 'Nom': 'CAD'}, {'Rates': 2033.955965, 'Nom': 'CDF'}, {'Rates': 0.991468, 'Nom': 'CHF'}, {'Rates': 0.035007, 'Nom': 'CLF'}, {'Rates': 965.938108, 'Nom': 'CLP'}, {'Rates': 6.806278, 'Nom': 'CNY'}, {'Rates': 4464.036322, 'Nom': 'COP'}, {'Rates': 697.534779, 'Nom': 'CRC'}, {'Rates': 1.015708, 'Nom': 'CUC'}, {'Rates': 26.91626, 'Nom': 'CUP'}, {'Rates': 110.407715, 'Nom': 'CVE'}, {'Rates': 24.588816, 'Nom': 'CZK'}, {'Rates': 180.723607, 'Nom': 'DJF'}, {'Rates': 7.442651, 'Nom': 'DKK'}, {'Rates': 55.600323, 'Nom': 'DOP'}, {'Rates': 149.08251, 'Nom': 'DZD'}, {'Rates': 19.157981, 'Nom': 'EGP'}, {'Rates': 15.23562, 'Nom': 'ERN'}, {'Rates': 52.966566, 'Nom': 'ETB'}, {'Rates': 1.0, 'Nom': 'EUR'}, {'Rates': 2.248727, 'Nom': 'FJD'}, {'Rates': 0.833997, 'Nom': 'FKP'}, {'Rates': 0.845699, 'Nom': 'GBP'}, {'Rates': 2.986088, 'Nom': 'GEL'}, {'Rates': 0.833997, 'Nom': 'GGP'}, {'Rates': 8.172163, 'Nom': 'GHS'}, {'Rates': 0.833997, 'Nom': 'GIP'}, {'Rates': 54.939674, 'Nom': 'GMD'}, {'Rates': 8817.297403, 'Nom': 'GNF'}, {'Rates': 7.867492, 'Nom': 'GTQ'}, {'Rates': 212.452528, 'Nom': 'GYD'}, {'Rates': 7.972342, 'Nom': 'HKD'}, {'Rates': 24.957014, 'Nom': 'HNL'}, {'Rates': 7.519086, 'Nom': 'HRK'}, {'Rates': 117.631895, 'Nom': 'HTG'}, {'Rates': 403.2005, 'Nom': 'HUF'}, {'Rates': 15202.557553, 'Nom': 'IDR'}, {'Rates': 3.529651, 'Nom': 'ILS'}, {'Rates': 0.833997, 'Nom': 'IMP'}, {'Rates': 80.492317, 'Nom': 'INR'}, {'Rates': 1481.769365, 'Nom': 'IQD'}, {'Rates': 43015.230295, 'Nom': 'IRR'}, {'Rates': 139.527927, 'Nom': 'ISK'}, {'Rates': 0.833997, 'Nom': 'JEP'}, {'Rates': 153.061343, 'Nom': 'JMD'}, {'Rates': 0.72016, 'Nom': 'JOD'}, {'Rates': 137.969729, 'Nom': 'JPY'}, {'Rates': 119.944331, 'Nom': 'KES'}, {'Rates': 83.943488, 'Nom': 'KGS'}, {'Rates': 4139.155986, 'Nom': 'KHR'}, {'Rates': 471.923311, 'Nom': 'KMF'}, {'Rates': 914.136972, 'Nom': 'KPW'}, {'Rates': 1321.019579, 'Nom': 'KRW'}, {'Rates': 0.312401, 'Nom': 'KWD'}, {'Rates': 0.845885, 'Nom': 'KYD'}, {'Rates': 480.941674, 'Nom': 'KZT'}, {'Rates': 15251.263915, 'Nom': 'LAK'}, {'Rates': 1534.969017, 'Nom': 'LBP'}, {'Rates': 370.02676, 'Nom': 'LKR'}, {'Rates': 154.911951, 'Nom': 'LRD'}, {'Rates': 16.088998, 'Nom': 'LSL'}, {'Rates': 2.999121, 'Nom': 'LTL'}, {'Rates': 0.614392, 'Nom': 'LVL'}, {'Rates': 4.947395, 'Nom': 'LYD'}, {'Rates': 10.33596, 'Nom': 'MAD'}, {'Rates': 19.567493, 'Nom': 'MDL'}, {'Rates': 4155.06, 'Nom': 'MGA'}, {'Rates': 61.694748, 'Nom': 'MKD'}, {'Rates': 1879.572866, 'Nom': 'MMK'}, {'Rates': 3173.160527, 'Nom': 'MNT'}, {'Rates': 8.207515, 'Nom': 'MOP'}, {'Rates': 362.607554, 'Nom': 'MRO'}, {'Rates': 46.114446, 'Nom': 'MUR'}, {'Rates': 15.590852, 'Nom': 'MVR'}, {'Rates': 1041.998648, 'Nom': 'MWK'}, {'Rates': 20.841976, 'Nom': 'MXN'}, {'Rates': 4.496494, 'Nom': 'MYR'}, {'Rates': 64.832806, 'Nom': 'MZN'}, {'Rates': 16.08869, 'Nom': 'NAD'}, {'Rates': 421.782774, 'Nom': 'NGN'}, {'Rates': 36.398691, 'Nom': 'NIO'}, {'Rates': 10.261403, 'Nom': 'NOK'}, {'Rates': 128.715112, 'Nom': 'NPR'}, {'Rates': 1.645787, 'Nom': 'NZD'}, {'Rates': 0.391048, 'Nom': 'OMR'}, {'Rates': 1.015102, 'Nom': 'PAB'}, {'Rates': 3.949066, 'Nom': 'PEN'}, {'Rates': 3.623251, 'Nom': 'PGK'}, {'Rates': 56.846145, 'Nom': 'PHP'}, {'Rates': 210.498922, 'Nom': 'PKR'}, {'Rates': 4.767976, 'Nom': 'PLN'}, {'Rates': 6977.25023, 'Nom': 'PYG'}, {'Rates': 3.698201, 'Nom': 'QAR'}, {'Rates': 4.943084, 'Nom': 'RON'}, {'Rates': 117.42586, 'Nom': 'RSD'}, {'Rates': 63.660004, 'Nom': 'RUB'}, {'Rates': 1046.492716, 'Nom': 'RWF'}, {'Rates': 3.813061, 'Nom': 'SAR'}, {'Rates': 8.288145, 'Nom': 'SBD'}, {'Rates': 13.412755, 'Nom': 'SCR'}, {'Rates': 463.668248, 'Nom': 'SDG'}, {'Rates': 10.668539, 'Nom': 'SEK'}, {'Rates': 1.422299, 'Nom': 'SGD'}, {'Rates': 1.399039, 'Nom': 'SHP'}, {'Rates': 13376.873662, 'Nom': 'SLL'}, {'Rates': 593.690215, 'Nom': 'SOS'}, {'Rates': 22.753379, 'Nom': 'SRD'}, {'Rates': 21023.103301, 'Nom': 'STD'}, {'Rates': 8.882394, 'Nom': 'SVC'}, {'Rates': 2551.997004, 'Nom': 'SYP'}, {'Rates': 17.184143, 'Nom': 'SZL'}, {'Rates': 36.569533, 'Nom': 'THB'}, {'Rates': 10.674498, 'Nom': 'TJS'}, {'Rates': 3.565135, 'Nom': 'TMT'}, {'Rates': 3.111618, 'Nom': 'TND'}, {'Rates': 2.390316, 'Nom': 'TOP'}, {'Rates': 17.59357, 'Nom': 'TRY'}, {'Rates': 6.889938, 'Nom': 'TTD'}, {'Rates': 30.244716, 'Nom': 'TWD'}, {'Rates': 2368.005144, 'Nom': 'TZS'}, {'Rates': 29.991968, 'Nom': 'UAH'}, {'Rates': 3815.031381, 'Nom': 'UGX'}, {'Rates': 1.015708, 'Nom': 'USD'}, {'Rates': 40.855408, 'Nom': 'UYU'}, {'Rates': 11085.969932, 'Nom': 'UZS'}, {'Rates': 217189051011.973, 'Nom': 'VEF'}, {'Rates': 23724.397812, 'Nom': 'VND'}, {'Rates': 118.036264, 'Nom': 'VUV'}, {'Rates': 2.686265, 'Nom': 'WST'}, {'Rates': 656.854565, 'Nom': 'XAF'}, {'Rates': 0.052957, 'Nom': 'XAG'}, {'Rates': 0.000575, 'Nom': 'XAU'}, {'Rates': 2.745001, 'Nom': 'XCD'}, {'Rates': 0.769752, 'Nom': 'XDR'}, {'Rates': 656.806, 'Nom': 'XOF'}, {'Rates': 114.927349, 'Nom': 'XPF'}, {'Rates': 254.180895, 'Nom': 'YER'}, {'Rates': 17.184396, 'Nom': 'ZAR'}, {'Rates': 9142.591588, 'Nom': 'ZMK'}, {'Rates': 16.572559, 'Nom': 'ZMW'}, {'Rates': 327.057537, 'Nom': 'ZWL'}]

In [19]:
#Création du dossier raw pour les donnée brutes
path="C://users/maell/ETL_bank"  #A modifier selon l'utilisateur
os.makedirs(path, exist_ok=True)

In [20]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
data=requests.get(url).text

# transform

In [21]:

from bs4 import BeautifulSoup
#Replace the dots below
soup = BeautifulSoup(data, 'html.parser')

In [22]:

data = pd.DataFrame(columns=['Name','Market Cap(US$ Billion)', 'Date_scrapping'])

for row in soup.find_all("tbody")[3].find_all("tr"):
    col = row.find_all("td")
    
    if (col != []):       
        marketcap = col[2].text.strip()
        name = col[1].text.strip()
        datescrap = datetime.today().year
        data = data.append({"Name":name, "Market Cap(US$ Billion)":marketcap, "Date_scrapping" :datescrap}, ignore_index=True)

 Display the first five rows using the `head` function.

In [23]:
data.head()

,Name,Market Cap(US$ Billion),Date_scrapping
0,JPMorgan Chase,400.37[6],2022
1,Industrial and Commercial Bank of China,295.65,2022
2,Bank of America,279.73,2022
3,Wells Fargo,214.34,2022
4,China Construction Bank,207.98,2022

# TRANSFORM

In [24]:
data["Market Cap(US$ Billion)"]=data["Market Cap(US$ Billion)"].str.replace(r"\[.*\]","")

C:\Users\maell\AppData\Local\Temp/ipykernel_9768/2224413162.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data["Market Cap(US$ Billion)"]=data["Market Cap(US$ Billion)"].str.replace(r"\[.*\]","")

In [25]:
data['Market Cap(US$ Billion)'] = data['Market Cap(US$ Billion)'].astype(float)

In [26]:

data['Market Cap(EURO Billion)'] = data['Market Cap(US$ Billion)'].apply(convertisseur)

In [27]:
del data['Market Cap(US$ Billion)']
data.head()

,Name,Date_scrapping,Market Cap(EURO Billion)
0,JPMorgan Chase,2022,394.178248
1,Industrial and Commercial Bank of China,2022,291.077751
2,Bank of America,2022,275.403955
3,Wells Fargo,2022,211.025216
4,China Construction Bank,2022,204.763574

In [12]:
data['MarketCap_EUROBillion'] = round(data['Market Cap(EURO Billion)'], 2)
del data['Market Cap(EURO Billion)']

# LOAD

In [13]:
#Base.py
#Create engine db with alchemy
Base = declarative_base()

engine=create_engine("mysql+pymysql://root:Aline150421!@localhost:3306/bank")
#DB base

In [14]:
from sqlalchemy.orm import column_property

In [15]:
session = Session(engine)

class raw_bank(Base):
    __table_args__ = {'extend_existing': True}
    __tablename__ = 'raw_bank'
    id=Column(Integer, primary_key=True, autoincrement = True)
    nom=Column(String(55))
    market_cap=Column(String(55))
    date=Column(String(55))
    check = column_property(nom + market_cap + date)
    
class bank_final(Base):
    __table_args__ = {'extend_existing': True}
    __tablename__ = 'bank_final'
    id=Column(Integer, primary_key=True, autoincrement = True)
    nom=Column(String(55))
    market_cap=Column(String(55))
    date=Column(String(55))
    check = column_property(nom + market_cap + date)

In [16]:
for table in Base.metadata.tables:
    print(table)

if __name__=="__main__":
    Base.metadata.create_all(engine)

raw_bank
bank_final

In [17]:
test=data.to_dict('records')

In [18]:
print(test)

[{'Name': 'JPMorgan Chase', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 384.36}, {'Name': 'Industrial and Commercial Bank of China', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 960.0}, {'Name': 'Bank of America', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 268.54}, {'Name': 'Wells Fargo', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 205.77}, {'Name': 'China Construction Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 199.66}, {'Name': 'Agricultural Bank of China', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 174.23}, {'Name': 'HSBC Holdings PLC', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 162.69}, {'Name': 'Citigroup Inc.', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 157.04}, {'Name': 'Bank of China', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 145.1}, {'Name': 'China Merchants Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 128.04}, {'Name': 'Royal Bank of Canada', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 109.25}, {'Name': 'Toronto-Dominion Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 102.35}, {'Name': 'HDFC Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 101.66}, {'Name': 'Commonwealth Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 95.78}, {'Name': 'U.S. Bancorp', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 81.02}, {'Name': 'Goldman Sachs', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 75.55}, {'Name': 'Banco Santander', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 72.45}, {'Name': 'Banco Bradesco', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 71.68}, {'Name': 'Morgan Stanley', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 70.97}, {'Name': 'Westpac', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 65.13}, {'Name': 'Mitsubishi UFJ Financial Group', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 63.55}, {'Name': 'Scotiabank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 62.86}, {'Name': 'PNC Financial Services', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 60.59}, {'Name': 'Bank of Communications', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 59.38}, {'Name': 'BNP Paribas', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 56.99}, {'Name': 'Australia and New Zealand Banking Group', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 52.68}, {'Name': 'National Australia Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 49.61}, {'Name': 'Lloyds Banking Group', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 49.14}, {'Name': 'Sumitomo Mitsui Financial Group', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 47.86}, {'Name': 'Bank of Montreal', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 46.2}, {'Name': 'UBS', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 44.08}, {'Name': 'ING Group', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 43.17}, {'Name': 'Capital One', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 41.49}, {'Name': 'The Bank of New York Mellon', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 40.88}, {'Name': 'China Minsheng Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 37.56}, {'Name': 'China CITIC Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 37.01}, {'Name': 'Banco Bilbao Vizcaya Argentaria', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 35.92}, {'Name': 'Mizuho Financial Group', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 35.47}, {'Name': 'Intesa Sanpaolo', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 35.42}, {'Name': 'Crédit Agricole', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 33.49}, {'Name': 'Canadian Imperial Bank of Commerce', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 33.48}, {'Name': 'Royal Bank of Scotland', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 32.59}, {'Name': 'Barclays', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 31.93}, {'Name': 'Credit Suisse', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 29.52}, {'Name': 'Nordea', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 28.41}, {'Name': 'Standard Chartered', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 28.2}, {'Name': 'KBC Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 26.3}, {'Name': 'UniCredit', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 25.8}, {'Name': 'Société Générale', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 20.42}, {'Name': 'Deutsche Bank', 'Date_scrapping': 2022, 'MarketCap_EUROBillion': 15.14}]

In [19]:
#table tempraire à ne pas appliquer sur la table finale
for ligne in test:
    obj=raw_bank(nom=ligne['Name'], date=ligne['Date_scrapping'], market_cap = ligne['MarketCap_EUROBillion']  )
    session.add(obj)

session.commit()

In [20]:
from sqlalchemy.dialects.postgresql import insert

In [21]:
#nettoyer la table finale
clean_bank=session.query(bank_final.check)
changes_to_insert = session.query(raw_bank.nom,raw_bank.market_cap,raw_bank.date).filter(~raw_bank.check.in_(clean_bank)) 
stm = insert(bank_final).from_select (['nom','market_cap', 'date'], changes_to_insert)

#execute
session.execute(stm)

#commit
session.commit()

In [22]:
session=Session(engine)

resultat = session.query(bank_final).filter(bank_final.date == 2022 )

for row in resultat:
    print ('nom : ' , row.nom)

nom :  JPMorgan Chase
nom :  Industrial and Commercial Bank of China
nom :  Bank of America
nom :  Wells Fargo
nom :  China Construction Bank
nom :  Agricultural Bank of China
nom :  HSBC Holdings PLC
nom :  Citigroup Inc.
nom :  Bank of China
nom :  China Merchants Bank
nom :  Royal Bank of Canada
nom :  Toronto-Dominion Bank
nom :  HDFC Bank
nom :  Commonwealth Bank
nom :  U.S. Bancorp
nom :  Goldman Sachs
nom :  Banco Santander
nom :  Banco Bradesco
nom :  Morgan Stanley
nom :  Westpac
nom :  Mitsubishi UFJ Financial Group
nom :  Scotiabank
nom :  PNC Financial Services
nom :  Bank of Communications
nom :  BNP Paribas
nom :  Australia and New Zealand Banking Group
nom :  National Australia Bank
nom :  Lloyds Banking Group
nom :  Sumitomo Mitsui Financial Group
nom :  Bank of Montreal
nom :  UBS
nom :  ING Group
nom :  Capital One
nom :  The Bank of New York Mellon
nom :  China Minsheng Bank
nom :  China CITIC Bank
nom :  Banco Bilbao Vizcaya Argentaria
nom :  Mizuho Financial Group
nom :  Intesa Sanpaolo
nom :  Crédit Agricole
nom :  Canadian Imperial Bank of Commerce
nom :  Royal Bank of Scotland
nom :  Barclays
nom :  Credit Suisse
nom :  Nordea
nom :  Standard Chartered
nom :  KBC Bank
nom :  UniCredit
nom :  Société Générale
nom :  Deutsche Bank