# EPI_upload

In [56]:
import bs4
import html5lib
import requests
import pandas as pd
import urllib
import os
from sqlalchemy import create_engine
import datetime
import gzip
import shutil
from pprint import pprint
import numpy as np
#sql alchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, Float, String
import pymysql.cursors
from datetime import datetime
from sqlalchemy.orm import column_property
from sqlalchemy.dialects.postgresql import insert

In [95]:

#On extrait les informations de l'API avec la clé donnée
def extract_rates():
    #On extrait les informations de l'API avec la clé donnée
    url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=nJVuiVk2iIbNtdqdb1ohnpsseVwNXASo"
    r = requests.get(url)
    return r

In [96]:
#Si output == <Response [200]> il y a connection avec l'API et donc fonctionne
print(extract_rates())

<Response [200]>

# transform

In [103]:
def transform_rates(extract):
    #On transforme les datas en Json
    json = extract.json()
    #'Rates' est un dico et on récupère donc les clés et les valeurs
    dico_cles = json['rates'].keys()
    liste_cles = list(dico_cles)
    dico_valeurs = json['rates'].values()
    liste_valeurs = list(dico_valeurs)
    #Création du DF avec les clés et valeurs de 'Rates'
    df = pd.DataFrame(liste_valeurs,liste_cles)
    #On nomme la colones des valeurs
    df.columns = ['Rates']
    return df

In [98]:
print(transform_rates(extract_rates()))

           Rates
AED     3.720143
AFN    89.065725
ALL   117.569977
AMD   413.255657
ANG     1.825957
..           ...
YER   253.455061
ZAR    17.009363
ZMK  9116.481898
ZMW    16.539111
ZWL   326.123423

[168 rows x 1 columns]

In [99]:
df = transform_rates(extract_rates())
df.head()

          Rates
AED    3.720143
AFN   89.065725
ALL  117.569977
AMD  413.255657
ANG    1.825957

In [100]:
df["Nom"]=df.index
df.head()

          Rates  Nom
AED    3.720143  AED
AFN   89.065725  AFN
ALL  117.569977  ALL
AMD  413.255657  AMD
ANG    1.825957  ANG

In [94]:
def convertisseur(dollars):
    taux_dollars=df.loc[df['Nom'] == "USD", 'Rates'].iloc[0]
    taux = 1/taux_dollars
    valeur_euros = taux*dollars
    return valeur_euros

In [44]:
#Création du dossier raw pour les donnée brutes
path="C://users/maell/ETL_bank"  #A modifier selon l'utilisateur
os.makedirs(path, exist_ok=True)

In [45]:
#Base.py
#Create engine db with alchemy
Base = declarative_base()

engine=create_engine("mysql+pymysql://root:Aline150421!@localhost:3306/bank")
#DB base

In [66]:
session = Session(engine)

class raw_taux(Base):
    __table_args__ = {'extend_existing': True}
    __tablename__ = 'raw_taux'
    id=Column(Integer, primary_key=True, autoincrement = True)
    nom=Column(String(55))
    rates=Column(String(55))
    c_pr = column_property(nom + rates)
    
class taux_final(Base):
    __table_args__ = {'extend_existing': True}
    __tablename__ = 'taux_final'
    id=Column(Integer, primary_key=True, autoincrement = True)
    nom=Column(String(55))
    rates=Column(String(55))
    c_pr = column_property(nom + rates)

C:\Users\maell\AppData\Local\Temp/ipykernel_13932/1092838565.py:3: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.raw_taux, and will be replaced in the string-lookup table.
  class raw_taux(Base):
C:\Users\maell\AppData\Local\Temp/ipykernel_13932/1092838565.py:11: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.taux_final, and will be replaced in the string-lookup table.
  class taux_final(Base):

In [59]:
for table in Base.metadata.tables:
    print(table)

if __name__=="__main__":
    Base.metadata.create_all(engine)

raw_taux
taux_final

In [60]:
test_taux=df.to_dict('records')

In [102]:
print(raw_taux.c_pr)

raw_taux.c_pr

In [61]:
print(test_taux)

[{'Rates': 3.720143, 'Nom': 'AED'}, {'Rates': 89.065725, 'Nom': 'AFN'}, {'Rates': 117.569977, 'Nom': 'ALL'}, {'Rates': 413.255657, 'Nom': 'AMD'}, {'Rates': 1.825957, 'Nom': 'ANG'}, {'Rates': 435.017189, 'Nom': 'AOA'}, {'Rates': 128.121318, 'Nom': 'ARS'}, {'Rates': 1.485022, 'Nom': 'AUD'}, {'Rates': 1.817988, 'Nom': 'AWG'}, {'Rates': 1.722389, 'Nom': 'AZN'}, {'Rates': 1.944563, 'Nom': 'BAM'}, {'Rates': 2.045648, 'Nom': 'BBD'}, {'Rates': 94.701911, 'Nom': 'BDT'}, {'Rates': 1.949547, 'Nom': 'BGN'}, {'Rates': 0.381746, 'Nom': 'BHD'}, {'Rates': 2085.557765, 'Nom': 'BIF'}, {'Rates': 1.012807, 'Nom': 'BMD'}, {'Rates': 1.418907, 'Nom': 'BND'}, {'Rates': 6.975386, 'Nom': 'BOB'}, {'Rates': 5.408286, 'Nom': 'BRL'}, {'Rates': 1.01315, 'Nom': 'BSD'}, {'Rates': 4.6416233e-05, 'Nom': 'BTC'}, {'Rates': 80.219619, 'Nom': 'BTN'}, {'Rates': 12.760022, 'Nom': 'BWP'}, {'Rates': 2.604285, 'Nom': 'BYN'}, {'Rates': 19851.016099, 'Nom': 'BYR'}, {'Rates': 2.042148, 'Nom': 'BZD'}, {'Rates': 1.317485, 'Nom': 'CAD'}, {'Rates': 2028.143644, 'Nom': 'CDF'}, {'Rates': 0.989386, 'Nom': 'CHF'}, {'Rates': 0.034935, 'Nom': 'CLF'}, {'Rates': 963.969179, 'Nom': 'CLP'}, {'Rates': 6.789754, 'Nom': 'CNY'}, {'Rates': 4437.086965, 'Nom': 'COP'}, {'Rates': 696.14041, 'Nom': 'CRC'}, {'Rates': 1.012807, 'Nom': 'CUC'}, {'Rates': 26.839384, 'Nom': 'CUP'}, {'Rates': 109.628745, 'Nom': 'CVE'}, {'Rates': 24.749001, 'Nom': 'CZK'}, {'Rates': 180.364991, 'Nom': 'DJF'}, {'Rates': 7.440961, 'Nom': 'DKK'}, {'Rates': 55.479655, 'Nom': 'DOP'}, {'Rates': 148.921172, 'Nom': 'DZD'}, {'Rates': 19.104593, 'Nom': 'EGP'}, {'Rates': 15.192105, 'Nom': 'ERN'}, {'Rates': 52.85839, 'Nom': 'ETB'}, {'Rates': 1.0, 'Nom': 'EUR'}, {'Rates': 2.243271, 'Nom': 'FJD'}, {'Rates': 0.831615, 'Nom': 'FKP'}, {'Rates': 0.845643, 'Nom': 'GBP'}, {'Rates': 2.977903, 'Nom': 'GEL'}, {'Rates': 0.831615, 'Nom': 'GGP'}, {'Rates': 8.135365, 'Nom': 'GHS'}, {'Rates': 0.831615, 'Nom': 'GIP'}, {'Rates': 54.782714, 'Nom': 'GMD'}, {'Rates': 8799.689646, 'Nom': 'GNF'}, {'Rates': 7.851708, 'Nom': 'GTQ'}, {'Rates': 211.961923, 'Nom': 'GYD'}, {'Rates': 7.949547, 'Nom': 'HKD'}, {'Rates': 24.907183, 'Nom': 'HNL'}, {'Rates': 7.517556, 'Nom': 'HRK'}, {'Rates': 117.285622, 'Nom': 'HTG'}, {'Rates': 405.522861, 'Nom': 'HUF'}, {'Rates': 15179.950474, 'Nom': 'IDR'}, {'Rates': 3.508915, 'Nom': 'ILS'}, {'Rates': 0.831615, 'Nom': 'IMP'}, {'Rates': 80.272544, 'Nom': 'INR'}, {'Rates': 1478.709075, 'Nom': 'IQD'}, {'Rates': 42892.374049, 'Nom': 'IRR'}, {'Rates': 139.301376, 'Nom': 'ISK'}, {'Rates': 0.831615, 'Nom': 'JEP'}, {'Rates': 152.838494, 'Nom': 'JMD'}, {'Rates': 0.718106, 'Nom': 'JOD'}, {'Rates': 137.594884, 'Nom': 'JPY'}, {'Rates': 119.613357, 'Nom': 'KES'}, {'Rates': 83.429969, 'Nom': 'KGS'}, {'Rates': 4128.520714, 'Nom': 'KHR'}, {'Rates': 470.575421, 'Nom': 'KMF'}, {'Rates': 911.526091, 'Nom': 'KPW'}, {'Rates': 1317.666881, 'Nom': 'KRW'}, {'Rates': 0.311428, 'Nom': 'KWD'}, {'Rates': 0.844329, 'Nom': 'KYD'}, {'Rates': 485.409589, 'Nom': 'KZT'}, {'Rates': 15241.243963, 'Nom': 'LAK'}, {'Rates': 1532.008638, 'Nom': 'LBP'}, {'Rates': 364.734186, 'Nom': 'LKR'}, {'Rates': 154.440724, 'Nom': 'LRD'}, {'Rates': 16.043052, 'Nom': 'LSL'}, {'Rates': 2.990556, 'Nom': 'LTL'}, {'Rates': 0.612637, 'Nom': 'LVL'}, {'Rates': 4.930036, 'Nom': 'LYD'}, {'Rates': 10.294853, 'Nom': 'MAD'}, {'Rates': 19.512554, 'Nom': 'MDL'}, {'Rates': 4147.054462, 'Nom': 'MGA'}, {'Rates': 61.260068, 'Nom': 'MKD'}, {'Rates': 1875.819595, 'Nom': 'MMK'}, {'Rates': 3164.097613, 'Nom': 'MNT'}, {'Rates': 8.189752, 'Nom': 'MOP'}, {'Rates': 361.571905, 'Nom': 'MRO'}, {'Rates': 46.085972, 'Nom': 'MUR'}, {'Rates': 15.546539, 'Nom': 'MVR'}, {'Rates': 1039.917139, 'Nom': 'MWK'}, {'Rates': 20.812099, 'Nom': 'MXN'}, {'Rates': 4.482711, 'Nom': 'MYR'}, {'Rates': 64.647125, 'Nom': 'MZN'}, {'Rates': 16.042892, 'Nom': 'NAD'}, {'Rates': 420.578342, 'Nom': 'NGN'}, {'Rates': 36.326248, 'Nom': 'NIO'}, {'Rates': 10.2495, 'Nom': 'NOK'}, {'Rates': 128.353871, 'Nom': 'NPR'}, {'Rates': 1.644767, 'Nom': 'NZD'}, {'Rates': 0.389926, 'Nom': 'OMR'}, {'Rates': 1.01313, 'Nom': 'PAB'}, {'Rates': 3.946733, 'Nom': 'PEN'}, {'Rates': 3.570583, 'Nom': 'PGK'}, {'Rates': 56.737651, 'Nom': 'PHP'}, {'Rates': 210.174853, 'Nom': 'PKR'}, {'Rates': 4.794525, 'Nom': 'PLN'}, {'Rates': 6947.845195, 'Nom': 'PYG'}, {'Rates': 3.687628, 'Nom': 'QAR'}, {'Rates': 4.942803, 'Nom': 'RON'}, {'Rates': 117.399533, 'Nom': 'RSD'}, {'Rates': 61.806596, 'Nom': 'RUB'}, {'Rates': 1036.644304, 'Nom': 'RWF'}, {'Rates': 3.802106, 'Nom': 'SAR'}, {'Rates': 8.264473, 'Nom': 'SBD'}, {'Rates': 13.710851, 'Nom': 'SCR'}, {'Rates': 462.330266, 'Nom': 'SDG'}, {'Rates': 10.702488, 'Nom': 'SEK'}, {'Rates': 1.420857, 'Nom': 'SGD'}, {'Rates': 1.395037, 'Nom': 'SHP'}, {'Rates': 13338.667704, 'Nom': 'SLL'}, {'Rates': 591.989138, 'Nom': 'SOS'}, {'Rates': 22.688394, 'Nom': 'SRD'}, {'Rates': 20963.058888, 'Nom': 'STD'}, {'Rates': 8.864857, 'Nom': 'SVC'}, {'Rates': 2544.708205, 'Nom': 'SYP'}, {'Rates': 16.959407, 'Nom': 'SZL'}, {'Rates': 36.49295, 'Nom': 'THB'}, {'Rates': 10.688473, 'Nom': 'TJS'}, {'Rates': 3.554952, 'Nom': 'TMT'}, {'Rates': 3.102732, 'Nom': 'TND'}, {'Rates': 2.383489, 'Nom': 'TOP'}, {'Rates': 17.529561, 'Nom': 'TRY'}, {'Rates': 6.880008, 'Nom': 'TTD'}, {'Rates': 30.176587, 'Nom': 'TWD'}, {'Rates': 2361.865983, 'Nom': 'TZS'}, {'Rates': 29.932069, 'Nom': 'UAH'}, {'Rates': 3814.399921, 'Nom': 'UGX'}, {'Rates': 1.012807, 'Nom': 'USD'}, {'Rates': 40.723057, 'Nom': 'UYU'}, {'Rates': 11030.779269, 'Nom': 'UZS'}, {'Rates': 216568733979.24033, 'Nom': 'VEF'}, {'Rates': 23651.067752, 'Nom': 'VND'}, {'Rates': 117.699139, 'Nom': 'VUV'}, {'Rates': 2.678593, 'Nom': 'WST'}, {'Rates': 652.191178, 'Nom': 'XAF'}, {'Rates': 0.052805, 'Nom': 'XAG'}, {'Rates': 0.000574, 'Nom': 'XAU'}, {'Rates': 2.737161, 'Nom': 'XCD'}, {'Rates': 0.768165, 'Nom': 'XDR'}, {'Rates': 652.191178, 'Nom': 'XOF'}, {'Rates': 114.599435, 'Nom': 'XPF'}, {'Rates': 253.455061, 'Nom': 'YER'}, {'Rates': 17.009363, 'Nom': 'ZAR'}, {'Rates': 9116.481898, 'Nom': 'ZMK'}, {'Rates': 16.539111, 'Nom': 'ZMW'}, {'Rates': 326.123423, 'Nom': 'ZWL'}]

In [68]:
#table temporaire à ne pas appliquer sur la table finale

for ligne in test_taux:
    obj=raw_taux(nom=ligne['Nom'],rates=ligne['Rates'] )
    session.add(obj)

session.commit()

In [73]:
#nettoyer la table finale
clean_taux=session.query(taux_final.c_pr)
changes_to_insert = session.query(raw_taux.rates, raw_taux.nom).filter(~raw_taux.c_pr.in_(clean_taux)) 
stm = insert(taux_final).from_select (['nom','rates'], changes_to_insert)


#execute
session.execute(stm)

#commit
session.commit()