# API

## Imports

In [7]:
import requests
import pandas as pd
from sqlalchemy import create_engine

## Partie 1 : Extract

In [8]:
def extract_rates():
    #On extrait les informations de l'API avec la clé donnée
    url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=nJVuiVk2iIbNtdqdb1ohnpsseVwNXASo"
    r = requests.get(url)
    return r

### Test :

In [10]:
#Si output == <Response [200]> il y a connection avec l'API et donc fonctionne
print(extract_rates())

<Response [200]>

## Partie 2 : Transform

In [2]:
def transform_rates(extract):
    #On transforme les datas en Json
    json = extract.json()
    #'Rates' est un dico et on récupère donc les clés et les valeurs
    dico_cles = json['rates'].keys()
    liste_cles = list(dico_cles)
    dico_valeurs = json['rates'].values()
    liste_valeurs = list(dico_valeurs)
    #Création du DF avec les clés et valeurs de 'Rates'
    df = pd.DataFrame(liste_valeurs,liste_cles)
    #On nomme la colones des valeurs
    df.columns = ['Rates']
    return df

### Test :

In [11]:
print(transform_rates(extract_rates()))

           Rates
AED     3.831498
AFN    91.652775
ALL   119.157461
AMD   423.758343
ANG     1.882841
..           ...
YER   261.049749
ZAR    17.030186
ZMK  9389.649736
ZMW    17.421577
ZWL   335.895528

[168 rows x 1 columns]

In [12]:
df = transform_rates(extract_rates())
df.head()

          Rates
AED    3.831299
AFN   91.648003
ALL  119.151256
AMD  423.736279
ANG    1.882743

## SQLAlchemy

In [14]:
#Creation de la base SQlite avec les données de l'API
engine = create_engine('sqlite://',  echo = False) 
df.to_sql('Rates',  con = engine) 

#Output 168 est pour indiquer le nombre de rows de la DB

168

### Test

In [15]:
print(engine.execute("SELECT * FROM Rates").fetchall())

[('AED', 3.831299), ('AFN', 91.648003), ('ALL', 119.151256), ('AMD', 423.736279), ('ANG', 1.882743), ('AOA', 447.001508), ('ARS', 130.870775), ('AUD', 1.521398), ('AWG', 1.874974), ('AZN', 1.769807), ('BAM', 1.955279), ('BBD', 2.109355), ('BDT', 97.657526), ('BGN', 1.95811), ('BHD', 0.393263), ('BIF', 2150.406306), ('BMD', 1.043101), ('BND', 1.457252), ('BOB', 7.182333), ('BRL', 5.560357), ('BSD', 1.04466), ('BTC', 5.4598622e-05), ('BTN', 82.466276), ('BWP', 13.009883), ('BYN', 3.52757), ('BYR', 20444.776108), ('BZD', 2.105856), ('CAD', 1.342283), ('CDF', 2088.811199), ('CHF', 1.000198), ('CLF', 0.035254), ('CLP', 972.775228), ('CNY', 6.984502), ('COP', 4386.291111), ('CRC', 716.492982), ('CUC', 1.043101), ('CUP', 27.642172), ('CVE', 110.230214), ('CZK', 24.741311), ('DJF', 185.983091), ('DKK', 7.438034), ('DOP', 57.226472), ('DZD', 152.822654), ('EGP', 19.621145), ('ERN', 15.646513), ('ETB', 54.487377), ('EUR', 1.0), ('FJD', 2.297639), ('FKP', 0.856489), ('GBP', 0.861081), ('GEL', 3.066988), ('GGP', 0.856489), ('GHS', 8.430739), ('GIP', 0.856489), ('GMD', 56.420985), ('GNF', 9075.531456), ('GTQ', 8.099044), ('GYD', 218.571024), ('HKD', 8.18456), ('HNL', 25.679788), ('HRK', 7.53046), ('HTG', 120.084075), ('HUF', 401.353401), ('IDR', 15615.219303), ('ILS', 3.659526), ('IMP', 0.856489), ('INR', 82.404443), ('IQD', 1524.807279), ('IRR', 44175.319509), ('ISK', 139.29576), ('JEP', 0.856489), ('JMD', 157.268585), ('JOD', 0.739575), ('JPY', 141.271292), ('KES', 122.961083), ('KGS', 82.924116), ('KHR', 4251.815562), ('KMF', 484.650676), ('KPW', 938.790577), ('KRW', 1353.778268), ('KWD', 0.320075), ('KYD', 0.870567), ('KZT', 485.119233), ('LAK', 15688.773788), ('LBP', 1579.593946), ('LKR', 376.092311), ('LRD', 159.073863), ('LSL', 16.522528), ('LTL', 3.080005), ('LVL', 0.630961), ('LYD', 5.047607), ('MAD', 10.506484), ('MDL', 20.005991), ('MGA', 4259.642829), ('MKD', 61.600285), ('MMK', 1934.271989), ('MNT', 3258.738342), ('MOP', 8.444059), ('MRO', 372.386814), ('MUR', 47.825917), ('MVR', 16.011383), ('MWK', 1072.286632), ('MXN', 21.152187), ('MYR', 4.603215), ('MZN', 66.580896), ('NAD', 16.522713), ('NGN', 433.168468), ('NIO', 37.461051), ('NOK', 10.324878), ('NPR', 131.940671), ('NZD', 1.673151), ('OMR', 0.401086), ('PAB', 1.04467), ('PEN', 3.999691), ('PGK', 3.681032), ('PHP', 57.426347), ('PKR', 213.772838), ('PLN', 4.692128), ('PYG', 7149.943645), ('QAR', 3.797875), ('RON', 4.945022), ('RSD', 117.400891), ('RUB', 57.605224), ('RWF', 1068.526945), ('SAR', 3.914496), ('SBD', 8.51167), ('SCR', 14.225284), ('SDG', 476.17855), ('SEK', 10.757619), ('SGD', 1.456581), ('SHP', 1.436765), ('SLL', 13737.637828), ('SOS', 609.69196), ('SRD', 23.306029), ('STD', 21590.081), ('SVC', 9.141553), ('SYP', 2620.822494), ('SZL', 17.09904), ('THB', 37.217657), ('TJS', 10.264261), ('TMT', 3.661284), ('TND', 3.195539), ('TOP', 2.445003), ('TRY', 17.536585), ('TTD', 7.096894), ('TWD', 31.041113), ('TZS', 2432.510885), ('UAH', 30.868719), ('UGX', 3912.465318), ('USD', 1.043101), ('UYU', 41.245239), ('UZS', 11335.59744), ('VEF', 223046480652.9764), ('VND', 24335.542173), ('VUV', 121.219615), ('WST', 2.758712), ('XAF', 655.728065), ('XAG', 0.052564), ('XAU', 0.000577), ('XCD', 2.819032), ('XDR', 0.786733), ('XOF', 655.750061), ('XPF', 118.027116), ('YER', 261.03573), ('ZAR', 17.028944), ('ZMK', 9389.157914), ('ZMW', 17.420669), ('ZWL', 335.878039)]