## Imports

In [53]:
import pandas as pd
import requests
import os
import datetime
import gzip
import shutil
from pprint import pprint
import numpy as np
from tqdm import tqdm, tqdm_pandas
#sql alchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import column_property
from sqlalchemy import Column, Integer, Float, String
from sqlalchemy import insert, select

In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
from scipy.stats import t, shapiro
#from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels

# GESTION DES DOSSIERS

## Creation du dossier raw contenant les données brutes

In [55]:
#Création du dossier raw pour les donnée brutes
path44= (r"C:\Users\maell\immo")
os.makedirs(path44, exist_ok=True)

path49= (r"C:\Users\maell\immo")
os.makedirs(path49, exist_ok=True)

path53= (r"C:\Users\maell\immo")
os.makedirs(path53, exist_ok=True)

path72= (r"C:\Users\maell\immo")
os.makedirs(path72, exist_ok=True)

path85= (r"C:\Users\maell\immo")
os.makedirs(path85, exist_ok=True)

# DOWNLOAD STEPS

## Téléchargement du fichier compressé (gz)

In [56]:
##### Déclaration de l'url pour 44
url44="https://files.data.gouv.fr/geo-dvf/latest/csv/2021/departements/"

while True:
    url_test44 = requests.get(url44+"/44.csv.gz", stream=True)
    if url_test44.status_code==200:  #test reponse du serveur
        print("Téléchargement en cours.")
        with requests.get(url44+"/44.csv.gz", stream=True) as r:
            with open(path44+"/44.csv.gz", "wb") as f:
                shutil.copyfileobj(r.raw, f) #Enregistrement du fichier (méthode + rapide)
        print("Téléchargement terminé.")
        break
#Décompression du fichier et gestion d'erreur
while True:
    try:
        print("Décompression du fichier.")
        with gzip.open(path44+"/44.csv.gz", 'rb') as f_in:
            with open(path44+"/44.csv", 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
        print("Décompression terminée.")
        break
    except:
        print("Erreur lors de la décompression.")
        break

Téléchargement en cours.
Téléchargement terminé.
Décompression du fichier.
Décompression terminée.

In [57]:
##### Déclaration de l'url pour 44
url49="https://files.data.gouv.fr/geo-dvf/latest/csv/2021/departements/"

while True:
    url_test49 = requests.get(url49+"/44.csv.gz", stream=True)
    if url_test49.status_code==200:  #test reponse du serveur
        print("Téléchargement en cours.")
        with requests.get(url49+"/49.csv.gz", stream=True) as r:
            with open(path49+"/49.csv.gz", "wb") as f:
                shutil.copyfileobj(r.raw, f) #Enregistrement du fichier (méthode + rapide)
        print("Téléchargement terminé.")
        break
#Décompression du fichier et gestion d'erreur
while True:
    try:
        print("Décompression du fichier.")
        with gzip.open(path49+"/49.csv.gz", 'rb') as f_in:
            with open(path49+"/49.csv", 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
        print("Décompression terminée.")
        break
    except:
        print("Erreur lors de la décompression.")
        break

Téléchargement en cours.
Téléchargement terminé.
Décompression du fichier.
Décompression terminée.

In [58]:
##### Déclaration de l'url pour 2021
url53="https://files.data.gouv.fr/geo-dvf/latest/csv/2021/departements/"

while True:
    url_test53 = requests.get(url53+"/53.csv.gz", stream=True)
    if url_test53.status_code==200:  #test reponse du serveur
        print("Téléchargement en cours.")
        with requests.get(url53+"/53.csv.gz", stream=True) as r:
            with open(path53+"/53.csv.gz", "wb") as f:
                shutil.copyfileobj(r.raw, f) #Enregistrement du fichier (méthode + rapide)
        print("Téléchargement terminé.")
        break
#Décompression du fichier et gestion d'erreur
while True:
    try:
        print("Décompression du fichier.")
        with gzip.open(path53+"/53.csv.gz", 'rb') as f_in:
            with open(path53+"/53.csv", 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
        print("Décompression terminée.")
        break
    except:
        print("Erreur lors de la décompression.")
        break

Téléchargement en cours.
Téléchargement terminé.
Décompression du fichier.
Décompression terminée.

In [59]:
##### Déclaration de l'url pour 2021
url72="https://files.data.gouv.fr/geo-dvf/latest/csv/2021/departements/"

while True:
    url_test72 = requests.get(url72+"/72.csv.gz", stream=True)
    if url_test72.status_code==200:  #test reponse du serveur
        print("Téléchargement en cours.")
        with requests.get(url72+"/72.csv.gz", stream=True) as r:
            with open(path72+"/72.csv.gz", "wb") as f:
                shutil.copyfileobj(r.raw, f) #Enregistrement du fichier (méthode + rapide)
        print("Téléchargement terminé.")
        break
#Décompression du fichier et gestion d'erreur
while True:
    try:
        print("Décompression du fichier.")
        with gzip.open(path72+"/72.csv.gz", 'rb') as f_in:
            with open(path72+"/72.csv", 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
        print("Décompression terminée.")
        break
    except:
        print("Erreur lors de la décompression.")
        break

Téléchargement en cours.
Téléchargement terminé.
Décompression du fichier.
Décompression terminée.

In [60]:
##### Déclaration de l'url pour 2021
url85="https://files.data.gouv.fr/geo-dvf/latest/csv/2021/departements/"

while True:
    url_test85 = requests.get(url85+"/85.csv.gz", stream=True)
    if url_test85.status_code==200:  #test reponse du serveur
        print("Téléchargement en cours.")
        with requests.get(url85+"/85.csv.gz", stream=True) as r:
            with open(path85+"/85.csv.gz", "wb") as f:
                shutil.copyfileobj(r.raw, f) #Enregistrement du fichier (méthode + rapide)
        print("Téléchargement terminé.")
        break
#Décompression du fichier et gestion d'erreur
while True:
    try:
        print("Décompression du fichier.")
        with gzip.open(path85+"/85.csv.gz", 'rb') as f_in:
            with open(path85+"/85.csv", 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
        print("Décompression terminée.")
        break
    except:
        print("Erreur lors de la décompression.")
        break

Téléchargement en cours.
Téléchargement terminé.
Décompression du fichier.
Décompression terminée.

In [61]:
#Création du df
df44=pd.read_csv(path44+"/44.csv")

#Création du df
df49=pd.read_csv(path49+"/49.csv")

#Création du df
df53=pd.read_csv(path53+"/53.csv")

#Création du df
df72=pd.read_csv(path72+"/72.csv")

#Création du df
df85=pd.read_csv(path85+"/85.csv")

/tmp/ipykernel_8457/361759949.py:2: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df44=pd.read_csv(path44+"/44.csv")
/tmp/ipykernel_8457/361759949.py:14: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df85=pd.read_csv(path85+"/85.csv")

In [62]:
df_demo=pd.read_csv("info_communes.csv")

In [63]:
df_demo.head()

,CODGEO,P19_POP,SUPERF,P19_LOG,P19_RP,dens_pop_km2,rap_log_rp,libelle,latitude,longitude
0,01001,779.0,15.95,359.574602,316.115807,48.84,0.88,L'Abergement-Clémenciat,46.153426,4.926114
1,01002,256.0,9.15,175.251661,105.603177,27.98,0.60,L'Abergement-de-Varey,46.009188,5.428017
2,01004,14134.0,24.60,7452.835563,6606.346575,574.55,0.89,Ambérieu-en-Bugey,45.960848,5.372926
3,01005,1751.0,15.92,802.963326,723.196409,109.99,0.90,Ambérieux-en-Dombes,45.996180,4.912273
4,01006,112.0,5.88,75.546970,53.963636,19.05,0.71,Ambléon,45.749499,5.594320

In [64]:
df_demo = df_demo[['CODGEO', 'dens_pop_km2', 'libelle']]

In [65]:
df_demo = df_demo.rename(columns = {'CODGEO': 'code_commune'})

In [66]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35585 entries, 0 to 35584
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   code_commune  35585 non-null  object
 1   dens_pop_km2  35568 non-null  float64
 2   libelle       35585 non-null  object
dtypes: float64(1), object(2)
memory usage: 834.1+ KB

In [67]:
df_demo = df_demo[df_demo.code_commune.apply(lambda x: x.isnumeric())]

In [68]:
df_demo['code_commune'] = df_demo['code_commune'].fillna(0).astype(np.int64)

In [69]:
df = pd.concat([df44, df49, df53, df72, df85])

In [70]:
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2021-513940,2021-01-05,1,Vente,130000.0,10.0,NaN,RUE RICHER,7308,44100.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-1.576574,47.212731
1,2021-513940,2021-01-05,1,Vente,130000.0,10.0,NaN,RUE RICHER,7308,44100.0,...,Appartement,45.0,1.0,NaN,NaN,NaN,NaN,NaN,-1.576574,47.212731
2,2021-513941,2021-01-04,1,Vente,700000.0,3.0,NaN,RUE DES MARTYRS,5444,44100.0,...,Maison,134.0,5.0,S,sols,NaN,NaN,195.0,-1.575733,47.216779
3,2021-513942,2021-01-05,1,Vente,354240.0,48.0,B,RUE DE COULMIERS,2244,44000.0,...,Appartement,74.0,3.0,NaN,NaN,NaN,NaN,NaN,-1.536938,47.222669
4,2021-513943,2021-01-11,1,Vente,30000.0,21.0,NaN,PAS PETITES SOEURS DES PAUVRES,6505,44000.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-1.561705,47.225324

# TRANSFORM STEP

## Général

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291664 entries, 0 to 64285
Data columns (total 40 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_mutation                   291664 non-null  object
 1   date_mutation                 291664 non-null  object
 2   numero_disposition            291664 non-null  int64
 3   nature_mutation               291664 non-null  object
 4   valeur_fonciere               288123 non-null  float64
 5   adresse_numero                177083 non-null  float64
 6   adresse_suffixe               10595 non-null   object
 7   adresse_nom_voie              289706 non-null  object
 8   adresse_code_voie             289731 non-null  object
 9   code_postal                   289709 non-null  float64
 10  code_commune                  291664 non-null  int64
 11  nom_commune                   291664 non-null  object
 12  code_departement              291664 non-null  int64
 13  ancien_code_commune           0 non-null       float64
 14  ancien_nom_commune            0 non-null       float64
 15  id_parcelle                   291664 non-null  object
 16  ancien_id_parcelle            0 non-null       float64
 17  numero_volume                 636 non-null     object
 18  lot1_numero                   59466 non-null   object
 19  lot1_surface_carrez           17368 non-null   float64
 20  lot2_numero                   15019 non-null   object
 21  lot2_surface_carrez           4915 non-null    float64
 22  lot3_numero                   2712 non-null    float64
 23  lot3_surface_carrez           513 non-null     float64
 24  lot4_numero                   847 non-null     float64
 25  lot4_surface_carrez           110 non-null     float64
 26  lot5_numero                   365 non-null     float64
 27  lot5_surface_carrez           40 non-null      float64
 28  nombre_lots                   291664 non-null  int64
 29  code_type_local               153574 non-null  float64
 30  type_local                    153574 non-null  object
 31  surface_reelle_bati           97212 non-null   float64
 32  nombre_pieces_principales     153327 non-null  float64
 33  code_nature_culture           230344 non-null  object
 34  nature_culture                230344 non-null  object
 35  code_nature_culture_speciale  10457 non-null   object
 36  nature_culture_speciale       10457 non-null   object
 37  surface_terrain               230337 non-null  float64
 38  longitude                     287322 non-null  float64
 39  latitude                      287322 non-null  float64
dtypes: float64(20), int64(4), object(16)
memory usage: 91.2+ MB

créer le df utile

In [72]:
df=df[['id_mutation', 'valeur_fonciere', 'code_postal', 'code_commune', 'code_departement', 'lot1_surface_carrez', 'lot2_surface_carrez','lot3_surface_carrez', 'lot4_surface_carrez', 'lot5_surface_carrez', 'type_local', 'nombre_pieces_principales', 'surface_terrain' , 'surface_reelle_bati'
          ,'longitude', 'latitude' ]]

In [73]:
df.head()

,id_mutation,valeur_fonciere,code_postal,code_commune,code_departement,lot1_surface_carrez,lot2_surface_carrez,lot3_surface_carrez,lot4_surface_carrez,lot5_surface_carrez,type_local,nombre_pieces_principales,surface_terrain,surface_reelle_bati,longitude,latitude
0,2021-513940,130000.0,44100.0,44109,44,NaN,NaN,NaN,NaN,NaN,Dépendance,0.0,NaN,NaN,-1.576574,47.212731
1,2021-513940,130000.0,44100.0,44109,44,NaN,29.19,NaN,NaN,NaN,Appartement,1.0,NaN,45.0,-1.576574,47.212731
2,2021-513941,700000.0,44100.0,44109,44,NaN,NaN,NaN,NaN,NaN,Maison,5.0,195.0,134.0,-1.575733,47.216779
3,2021-513942,354240.0,44000.0,44109,44,74.38,NaN,NaN,NaN,NaN,Appartement,3.0,NaN,74.0,-1.536938,47.222669
4,2021-513943,30000.0,44000.0,44109,44,NaN,NaN,NaN,NaN,NaN,Dépendance,0.0,NaN,NaN,-1.561705,47.225324

Supprimer les dépendances

In [74]:
df.drop(df.loc[df['type_local']=='Dépendance'].index, inplace=True)

Additionner les "surface carrez"

In [75]:
df["SomCarrez"]=df.fillna(0)['lot1_surface_carrez'] + df.fillna(0)['lot2_surface_carrez'] + df.fillna(0)['lot3_surface_carrez'] + df.fillna(0)['lot4_surface_carrez'] + df.fillna(0)['lot5_surface_carrez']

Faire des filtres appartement en zone urbaine

In [76]:
code = [44036, 44200, 44300, 44321, 44325, 49000, 44000, 44100, 44380, 49100, 72000, 72100, 44600]
filtered_df = df[df.code_postal.isin(code)]

In [77]:
filtered_df=(df['type_local']=='Appartement') & ((df['SomCarrez']> 0)&(df['SomCarrez']<300) ) & (df['valeur_fonciere']<2500000) 

df_appart=df[filter_appart].copy()
df_appart

NameError: name 'filter_appart' is not defined

In [ ]:
#convertir la surface en surface au carré 

df_maison['SomCarrez']=df_maison['SomCarrez']**2
df_appart['SomCarrez']=df_appart['SomCarrez']**2
df_maison['surface_reelle_bati']=df_maison['surface_reelle_bati']**2

In [ ]:
df_maison=df_maison[['id_mutation', 'valeur_fonciere', 'code_postal', 'code_commune', 'code_departement','type_local', 'nombre_pieces_principales', 'surface_terrain' , 'surface_reelle_bati'
          ,'longitude', 'latitude', 'SomCarrez' ]]

df_appart=df_appart[['id_mutation', 'valeur_fonciere', 'code_postal', 'code_commune', 'code_departement','type_local', 'nombre_pieces_principales', 'surface_terrain' , 'surface_reelle_bati'
          ,'longitude', 'latitude', 'SomCarrez' ]]

In [ ]:
#normalisation des données numériques maison :
colonnes = ['valeur_fonciere', 'SomCarrez', 'surface_terrain' , 'surface_reelle_bati']
copie = df_maison.copy()
df_scaled_maison = copie[colonnes]


for column in df_scaled_maison.columns :
    df_scaled_maison[column] = df_scaled_maison[column]  / df_scaled_maison[column].abs().max()

display(df_scaled_maison)

In [ ]:
#normalisation des données numériques appartement :
colonnes = ['valeur_fonciere', 'SomCarrez', 'surface_terrain' , 'surface_reelle_bati']
copie_a = df_appart.copy()
df_scaled_appart = copie_a[colonnes]


for column in df_scaled_appart.columns :
    df_scaled_appart[column] = df_scaled_appart[column]  / df_scaled_appart[column].abs().max()

display(df_scaled_appart)

In [ ]:
df_scaled_maison['code_departement'] = df_maison['code_departement']
df_scaled_maison['nombre_pieces_principales'] = df_maison['nombre_pieces_principales']

In [ ]:
df_mais = df_scaled_maison.merge(df_demo, how='outer', left_index=True, right_index=True)

In [ ]:
#normaliser densité de population
#normalisation des données numériques maison :
colonnes = ['dens_pop_km2']
copie = df_mais.copy()
df_scaled2 = copie[colonnes]


for column in df_scaled2.columns :
    df_scaled2[column] = df_scaled2[column]  / df_scaled2[column].abs().max()

display(df_scaled2)

In [ ]:
df_scaled2['valeur_fonciere'] = df_mais['valeur_fonciere']
df_scaled2['SomCarrez'] = df_mais['valeur_fonciere']
df_scaled2['surface_terrain'] = df_mais['surface_terrain']
df_scaled2['surface_reelle_bati']= df_mais['surface_reelle_bati']
df_scaled2['nombre_pieces_principales']= df_mais['nombre_pieces_principales']
df_scaled2['code_departement']= df_mais['code_departement']
df_scaled2['code_commune']= df_mais['code_commune']
df_scaled2['libelle']= df_mais['libelle']

In [ ]:
df_scaled2.head(100)

# Pour les maisons, diviser la bd en 2

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
from scipy.stats import t, shapiro
#from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels

#Pour les maisons

import pandas
import sklearn
from sklearn.model_selection import train_test_split

y = df_scaled2.valeur_fonciere
X = df_scaled2[['valeur_fonciere', 'SomCarrez', 'surface_terrain',
       'surface_reelle_bati', 'nombre_pieces_principales', 'code_departement',
       'code_commune', 'dens_pop_km2', 'libelle' ]]
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [ ]:
reg_multi = smf.ols('valeur_fonciere~ nombre_pieces_principales+ dens_pop_km2 + SomCarrez + surface_reelle_bati' , data=df_scaled2).fit()
print(reg_multi.summary())

In [ ]:
a_prevoir = pd.DataFrame({'nombre_pieces_principales' : 10 , 'dens_pop_km2' : 1463.2 , 'SomCarrez' :283  , 'surface_reelle_bati' : 2873}, index=[0])
prev = reg_multi.predict(a_prevoir)
print(round(prev[0], 2))

In [ ]:
df.sort_values(by=['longitude', 'latitude'])

In [ ]:
maison=(df['type_local']=='Maison')
df_maison=df[maison].copy()

In [ ]:
df_maison.sort_values(by=['longitude', 'latitude'])

In [ ]:
from scipy.spatial import distance
a = (-1.575733, 47.216779)
b = (-1.634305, 47.219005)

print(distance.euclidean(a, b))